.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    display: flex;
    gap: 1rem;
    margin: 1rem;
    border: 1px var(--border-color) solid;
    border-radius: 10px;
    padding: 1rem;
}

.gridEmployeeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.spotlightEmployeeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}