.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: whitesmoke;
    padding: 1rem;
    border-radius: 10px;
    border: 1px transparent solid;
}

.container:hover {
    border: 1px var(--border-color) solid;
}

.gridContainer {
    width: 300px;
}

.smallImage {
    height: 200px;
    width: 150px;
}

.employeeInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;

    margin-top: 1rem;
}

.links {
    padding-left: 1rem;
    display: flex;
    flex-wrap: nowrap;
}

@media (prefers-color-scheme: dark) {
    .container {
        background: oklch(17.95% 0 284.82)
    }
}
